.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .15;
}

.wrapper {
    background:#FFFFFF; 
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #000;
    border-radius: 5px;
}

textarea {
    width: 80%;
    margin: 2%;
    font-size: 1.1em;
    line-height: 1.1em; 
    resize: none;
}

input {
    width: 50%;
    margin: 2% 10% 3% 13%;
}

label {
    float: left;
    margin: 27px 5px 0 20px;
    width: 52px;
}

#ticket_submit {
    position: absolute;
    background: #9d76d2;
    border-color: #9d76d2;
    height: 40px;
    color: #FFF;
    font-size: 15px;
    width: 110px;
    bottom: 40px;
    border-radius: 7px;
}

#ticket_submit:hover {
    border-color: #582f8f;
    background: #582f8f;
}

#ticket_submit:disabled, #ticket_submit:disabled:hover{
    border-color: #A9A9A9;
    background: #A9A9A9;
}